<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
                          <html>
                              <head>
                                  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                              </head>
                              <body>
                                <div id="voucher-general" style="padding: 8px;width:608px;margin:0 auto;margin-top: 8px;background: white;border: 1px solid gray;font-family: roboto-light, arial;">
                                    <div id="voucher-top" style="text-align: center;color: #A8ACB4;background: #EEEEEE;height: 40px;margin-bottom: 8px;padding-top: 16px;font-size: 16px;line-height: 24px;">
                                        <label><strong>Clínica Fares</strong> - completa e acessível</label>
                                    </div>
                                    {{#patient}}
                                    <span id="voucher-patient-name" style="margin-left: 8px;">PACIENTE: </span>
                                    <span id="voucher-patient-id" style="font-weight:700;float:right;background:#d2d2d2;color:#323232;margin-right:8px">{{id}}</span>
                                    <div name="voucher-separator" style="background: #F6F6F6;height: 1px;clear: both;margin-top: 8px;margin-bottom: 8px;display: block;width: 600px;margin-left: 4px;"></div>
                                    <div id="voucher-body" style="min-height: 656px; display: inline-block;">
                                        <div id="voucher-patient-identification" style="display: inline-block; width: 100%;">
                                            <div id="voucher-patient-initials-name-letters" style="float: left; margin-right: 0%; margin-left: 8px; background: transparent; height: 80px; display: block; padding-top:8px; position: inherit;">
                                                <div style="-webkit-border-radius: 64px;-moz-border-radius: 64px;border-radius: 64px; height:60px; width:82px; background-color: #d2d2d2; color: #fff; font-size: 32px; text-align: center; position: relative; padding-top: 22px; margin:auto; border: 2px solid #adb0b6">
                                                    {{canonicalName}}
                                                </div>
                                            </div>
                                            <div id="voucher-patient-info" style=" display: block; float: left;">
                                                <div id="voucher-patient-info-first">
                                                    <ul style="list-style-type: none;padding: 0px;margin: 7px;margin-bottom: 0px;float: left;display: inline-block;">
                                                        <li style="margin-right: 4px; display: inline-block; margin-bottom: 2%; width: 328px;">
                                                            <span style="font-size: 0.800em;color:#454c58;">NOME: </span>
                                                            <br>
                                                            <label style="font-weight: 600;font-family: arial;">{{name}}</label>
                                                        </li>
                                                        <li style="margin-right: 0; float: right;">
                                                            <span style="font-size: 0.800em;color:#454c58;">DATA DE NASCIMENTO: </span>
                                                            <br>
                                                            <label style="font-weight: 600;">{{dateOfBirth}}</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div id="voucher-patient-info-second">
                                                    <ul style="list-style-type: none;padding: 0px;margin: 7px;margin-top: 0px;float: left;display: inline-block;">
                                                        <li style=" display: block; float: left; margin-right: 32px">
                                                            <span style="font-size: 0.800em;color:#454c58;">IDADE: </span>
                                                            <br>
                                                            <label style="font-weight: 600;">{{age}}</label>
                                                        </li>
                                                        <li style="display: block; float: left; margin-right: 32px">
                                                            <span style="font-size: 0.800em;color:#454c58;">SEXO: </span>
                                                            <br>
                                                            <label style="font-weight: 600;">{{sex}}</label>
                                                        </li>
                                                        <li style="display: block; float: left;">
                                                            <span style="font-size: 0.800em;color:#454c58;">DOC. DE IDENTIFICAÇÃO: </span>
                                                            <br>
                                                            <label style="font-weight: 600;">R.G. | {{rg}}</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        {{/patient}}
                                        {{#procedures}}
                                        <div name="voucher-separator" style="background: #F6F6F6;height: 1px;clear: both;margin-bottom: 16px;display: block;width: 600px;margin-left: 4px;margin-top:4px;"></div>
                                        <ul name="voucher-procedures" style="list-style-type: none;padding: 0px;margin: 7px;margin-left: 0px;margin-top: 0px;float: left;display: inline-block;width: 600px;"> <!--ng-repeat-->
                                            <li style="color: #45c8c8;float: left;font-size: 32px;width: 80px;text-align: center;margin-bottom: 14px;margin-top: 6px; margin-left:0px">
                                                {{modality}}
                                            </li>
                                            <li style="font-weight: 600;color: #45c8c8;float: left;margin-bottom: 16px;margin-top: 16px; width: 306px;">
                                                {{name}}
                                            </li>
                                            <li style="color: #45c8c8;float: right;font-size: 20px;margin-right: 16px;margin-top: 13px;margin-bottom: 8px;width: 168px;">
                                                {{startedAt}}
                                            </li>
                                            <div name="voucher-separator" style="background: #F6F6F6;height: 1px;clear: both;margin-top: 8px;margin-bottom: 8px;display: block;width: 600px;margin-left: 4px;"></div>
                                        </ul>
                                        {{/procedures}}
                                        <div id="voucher-exam-info" style="display: block;height: 112px;width: 590px;margin-bottom: 8px;float: left;">
                                            <div id="voucher-exam-info-first">
                                                <ul style="list-style-type: none;padding: 0px;margin-left: 8px;float: left;margin-top: 0px;">
                                                    <li style=" display: block;">
                                                        <span style="font-size: 0.800em;color:#454c58;">LOCAL: </span>
                                                        <br>
                                                        <label style="font-weight: 600;">{{local}}</label>
                                                    </li>
                                                    <li style="display: block;">
                                                        <span style="font-size: 0.800em;color:#454c58;">DURAÇÃO DO EXAME: </span>
                                                        <br>
                                                        <label style="font-weight: 600;">{{duration}}</label>
                                                    </li>
                                                    {{#physicianPerforming}}
                                                    <li style="display: block; ">
                                                        <span style="font-size: 0.800em;color:#454c58;">MÉDICO EXECUTANTE: </span>
                                                        <br>
                                                        <label style="font-weight: 600;">{{name}}</label>
                                                    </li>
                                                    {{/physicianPerforming}}
                                                </ul>
                                            </div>
                                        </div>

                                        <div style="width: 50%; float: left; padding-top: 3px;">
                                            <div id="voucher-insurance-plan-container" style="float: left;margin-left: 8px;margin-bottom: 8px;width: 278px;">
                                                <div style="border:1px #333;border-style: dashed;border-color: gray;padding: 8px;overflow-wrap: break-word;width: 80%;">
                                                    <span style="font-size: 0.800em;color:#454c58;float:left;">CONVÊNIO:</span>
                                                    <br>
                                                    <span id="voucher-insurance-name" style="font-weight: 600; font-size:24px; line-height: 24px;">{{insurance}} / </span>
                                                    <br>
                                                    <span id="voucher-plan-name" style="font-weight: 600; font-size:24px; line-height: 24px;">{{insurancePlan}}</span>
                                                </div>
                                            </div>
                                            <div id="voucher-insurance-details-container" style="float: left;margin-left: 8px;width: 278px;">
                                                <ul style="list-style-type: none;padding: 0px;margin-left: 0px;float: left;display: inline-block;margin-top: 0px;width: 100%;margin-bottom: 4px;">
                                                    <li style="display: inline-block;width: 100%;">
                                                        <div style="float:left;display: block;">
                                                          <span style="font-size: 0.800em;color:#454c58;">N. CARTEIRINHA: </span>
                                                          <br>
                                                          <label id="voucher-insurance-card-info" style="font-weight: 600;">0000.0000.00</label>
                                                        </div>
                                                        <div style="float: right;display: block;width: 128px;">
                                                          <span style="font-size: 0.800em;color:#454c58;">VALIDADE: </span>
                                                          <br>
                                                          <label id="voucher-insurance-card-validity" style="font-weight: 600;">00/00/0000</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            {{#physicianRequesting}}
                                            <div name="voucher-separator" style="background: #F6F6F6;height: 1px;clear: both;margin-top: 8px;margin-bottom: 8px;display: block;margin-left: 4px;margin-right: 32px;"></div>
                                            <div>
                                                <ul style="list-style-type: none;padding: 0px;margin-left: 8px;float: left;display: inline-block;margin-top: 0px;width: 278px;">
                                                    <li style="width:100%; display:block">
                                					<div style="width: 150px; float:left">
                                                        <span style="font-size: 0.800em;color:#454c58;">SOLICITANTE:</span>
                                                        <br>
                                                        <label style="font-weight: 600;">{{name}}</label>
                                                    </div>
                                                    <div></div>
                                                    <div style="width: 128px;float: right;">
                                                        <span style="font-size: 0.800em;color:#454c58;">CRM: </span>
                                                        <br>
                                                        <label style="font-weight: 600;">{{crm}}</label>
                                                    </div></li>

                                                </ul>
                                            </div>
                                        </div>
                                        {{/physicianRequesting}}
                                        <div style="width: 50%;float: left;margin-top: 8px;height: 192px;">
                                            <span style="font-size: 0.800em;color:#454c58;">INDICAÇÃO CLÍNICA:</span>
                                            <div style="background-color: #eeeeee;padding: 8px 8px;width: 280px;height: 136px;margin-top:4px;"></div>
                                        </div>

                                        <div style="width: 608px;float: left;">
                                            <ul style="list-style-type: none;padding: 0px;margin: 0;margin-left: 8px;float: left;display: inline-block;width: 592px;">
                                                <li>
                                                    <div style="">
                                                        <span style="display: block;color: #828282;font-size: 0.900em;margin-bottom: 12px;margin-top:8px;">ORÇAMENTO TOTAL:</span>
                                                        <label style="padding-right: 8px;background-color: #eeeeee;padding: 8px 8px;color: #828282;font-size: 0.800em; display: block;">R${{amount}}</label>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul style="list-style-type: none;padding: 0px;margin-left: 8px;margin-bottom: 16px;float: left;display: inline-block;width: 592px;padding-right:16px;">
                                                <li>
                                                    <div>
                                                        <span style="display: block;color: #828282;font-size: 0.900em;margin-bottom: 12px;margin-top:16px;">PREPARO E INSTRUÇÕES:</span>
                                                            <div>
                                                            <ul style="list-style-type: none; background-color: #eeeeee;padding: 8px 8px;color: #828282;font-size: 1em;display: block;">
                                                                {{#procedures}}
                                                                    {{#preparation}}<li>{{.}}</li>{{/preparation}}
                                                                {{/procedures}}
                                                                {{^hasPreparation}}<li>Sem informações.</li>{{/hasPreparation}}
                                                            </ul>
                                                            </div>
                                                    </div>
                                                </li>
                                            </ul>

                                            <div name="voucher-separator" style="background: #F6F6F6;height: 1px;clear: both;margin-top: 8px;margin-bottom: 4px;display: block;width: 600px;margin-left: 4px;"></div>

                                            <ul style="list-style-type: none;padding: 0px;margin-left: 8px;margin-top: 0px;margin-bottom: 8px;float: left;display: inline-block;width: 592px;padding-right:16px;">
                                                <li style="width:100%">
                                                    <label style="font-size: 0.800em;color:#454c58;">Protocolo: {{protocol}}</label>
                                                </li>
                                                <li style="width:100%">
                                                    <label style="font-size: 0.800em;color:#454c58;">Atendente: {{employeeName}}</label>
                                                </li>
                                                <li style="width:100%">
                                                    <label style="font-size: 0.800em;color:#454c58;">Data do atendimento: {{dateScheduling}}</label>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div style="text-align: center;color: #A8ACB4;background: #EEEEEE; height: 40px;padding-top: 24px;line-height: 24px;font-size: 16px;">
                                        <label>Unidade I - Avenida Parada Pinto, nº 99 | Vila Nova Cachoeirinha – São Paulo – SP</label>
                                    </div>
                                </div>
                              </body>
                          </html>